@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes flip {
        0% {
            transform: rotateY(0deg);
        }

        50% {
            transform: rotateY(90deg);
        }

        100% {
            transform: rotateY(0deg);
        }
    }

    .animate-flip {
        animation: flip 0.6s ease-in-out;
    }
}